.button {
    border: 1px solid black;
    padding: 1rem 3rem;
    border-radius: 100vmax;
    background: linear-gradient(to right, transparent 50%, var(--secondary-color) 50%);
    background-size: 200%;
    transition: background-position .3s ease-in-out, color .3s ease-in-out;
}

.button:is(:hover, :focus-within) {
    background-position: -100%;
    color: var(--primary-color);
}